<header id="header">
  {% comment %} TODO: Link to backend {% endcomment %}
  <h1>Studio Silla</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/cart">Cart</a></li>
    </ul>
  </nav>
</header>