:root {
	--layout-spacing: 3rem;
}

@include media("<=tablet") {
	:root {
		--layout-spacing: 2rem;
	}
}

@include media("<=phone") {
	:root {
		--layout-spacing: 1rem;
	}
}

$color-atlantis: #5BDC40;
$color-mine: #393939;


// $font-neue-montreal: "PP Neue Montreal";

// $ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

// $section-spacing: 45rem;

$z-indexes: (
	"dev",
	"cursor",
	"preloader",
	"navigation",
	"content-toggle",
	"content",
	"logo",
	"unsupported"
);
