{% comment %} {% assign main_product = all_products["the-perfect-chair"] %} {% endcomment %}
{% comment %} {% assign current_variant = main_product.selected_or_first_available_variant %} {% endcomment %}
{% comment %} {% assign featured_image = current_variant.featured_image | default: product.featured_image %} {% endcomment %}

<section class="home__container"></section>